<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="{{ url('tech_corp_front_homepage') }}">Project name</a>
			<ul class="nav navbar-nav">
				<li><a href="{{ url('tech_corp_front_homepage') }}">{{ 'navigation.link.homepage'|trans }}</a></li>
				<li><a href="{{ url('tech_corp_front_about') }}">{{ 'navigation.link.about'|trans }}</a></li>

				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">{{ 'navigation.link.account'|trans }}<span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						{% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
							<li><a href="{{ path('fos_user_registration_register') }}">{{ 'navigation.link.register'|trans }}</a></li>
							<li><a href="{{ path('fos_user_security_login') }}">{{ 'navigation.link.login'|trans }}</a></li>
							<li><a href="{{ path('fos_user_resetting_request') }}">{{ 'navigation.link.forgotpassword'|trans }}</a></li>
						{% else %}
							<li><a href="{{ path('tech_corp_front_user_timeline', { userId: app.user.id }) }}">{{ 'navigation.link.timeline'|trans }}</a></li>
							<li><a href="{{ path('fos_user_security_logout') }}">{{ 'navigation.link.logout'|trans }}</a></li>
						{% endif %}
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>